Connected Services/AwsALG3WebService/Service43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConfigurationDataLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConfigurationDataLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://at2lb-1045549652.us-east-1.elb.amazonaws.com/ALG3/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConfigurationData">
    <xs:sequence>
      <xs:element name="_x003C_AlgorithmMaxRuntime_x003E_k__BackingField" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_CoefficientValues_x003E_k__BackingField" nillable="true" type="q1:ArrayOfKeyValueOfintdouble" />
      <xs:element name="_x003C_LogFilePath_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ProcessorFrequencies_x003E_k__BackingField" nillable="true" type="q2:ArrayOfKeyValueOfintdouble" />
      <xs:element name="_x003C_ProgramMaxDuration_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ProgramProcessors_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProgramTasks_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_RuntimeReferenceFrequency_x003E_k__BackingField" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_TaskRuntimes_x003E_k__BackingField" nillable="true" type="q3:ArrayOfKeyValueOfintdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationData" nillable="true" type="tns:ConfigurationData" />
</xs:schema>